@import "tailwindcss";

@theme {
  --color-main-color: #761f21;
  --color-second-color: #eed9b9;
  --color-third-color: #fff8eb;
}

body {
  background-color: #fff8eb;
  color: #504141;
  font-family: "Lora";
}

.form_style {
  background-color: var(--color-third-color);
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 0.75rem;
}
